/*#services
{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}*/    

/*#conteneur
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}*/

/**************************************************************************************************************************/
                                                    /**Section 4 : SERVICES**/
/**************************************************************************************************************************/

#section4
{
    text-align: center;
    font-family: 'FontAwesome','DroidSans';
    padding-top: 100px;
    /*display: flex;
	flex-direction: row;*/
}

h1
{
    font-size: 40px;
    font-family: 'FontAwesome','DroidSans';
}

.image
{
    vertical-align: middle;
}

.image2
{
    width: 70px;
}

p
{
    font-family: 'FontAwesome','DroidSans'; 
}

.height
{
    line-height: 30px;
}

/**************************************************************************************************************************/
                                            /**Section 5 : DESSIN DE L'ECRAN**/
/**************************************************************************************************************************/

.image3
{
    float: left;
    margin-left: 20px;
    width: 500px;
}

/**************************************************************************************************************************/
                                            /**Section 6 : PARTIE DE DROITE**/
/**************************************************************************************************************************/

#section6
{
    float: right;
    margin-right: 40px;
    margin-left: 700px;
    position: absolute;
    /*display: flex;
	flex-direction: row;
	flex-wrap: wrap;*/
}

/*.conseil
{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}*/

h3
{
    line-height: 30px;
    font-family: 'FontAwesome','DroidSans';
}

.image4
{
    float: left;
    padding-right: 10px;
}

.para
{
    line-height: 30px;
    font-family: 'FontAwesome','DroidSans';
}

 /****media 1200****/

@media all and (max-width:1200px)
{

/**************************************************************************************************************************/
                                                    /**Section 4 : SERVICES**/
/**************************************************************************************************************************/

#section4
{
    padding-top: 50px; 
}        

/**************************************************************************************************************************/
                                            /**Section 6 : PARTIE DE DROITE**/
/**************************************************************************************************************************/

#section6
{
    margin-left: 600px;
}    

}
                                                /****media 992****/

@media all and (max-width:992px)
{

/**************************************************************************************************************************/
                                                    /**Section 4 : SERVICES**/
/**************************************************************************************************************************/

#section4
{
    padding-top: 10px; 
}            

/**************************************************************************************************************************/
                                            /**Section 6 : PARTIE DE DROITE**/
/**************************************************************************************************************************/

#section6
{
    margin-left: 500px;
}    

}
                                                /****media 768****/

@media all and (max-width:768px)
{

/**************************************************************************************************************************/
                                                    /**Section 4 : SERVICES**/
/**************************************************************************************************************************/

#section4
{
    margin-top: -100px; 
}                

/**************************************************************************************************************************/
                                            /**Section 5 : DESSIN DE L'ECRAN**/
/**************************************************************************************************************************/

.image3
{
    margin-left: 5px;
    width: 350px;
}    
    
/**************************************************************************************************************************/
                                            /**Section 6 : PARTIE DE DROITE**/
/**************************************************************************************************************************/

#section6
{
    margin-left: 0px;
    margin-top: 200px
}        


    
}


